# ================= ENV =================
.env

# ================= PYTHON =================
__pycache__/
*.pyc
*.pyo
*.pyd

# ================= VENV =================
.venv/
venv/
env/

# ================= BUILD =================
build/
dist/
*.egg-info/

# ================= DATA =================
history.csv
chart.png

# ================= LOGS =================
*.log

# ================= IDE =================
.vscode/
.idea/

# ================= SYSTEM =================
.DS_Store
Thumbs.db